@import "reset.css";
@font-face {
    font-family: "harry";
    src: url("HarryP-MVZ6w.ttf");
}

*{
    font-family: "harry", sans-serif;
}

html{
    width:100%;
    height: 100%;
}


.clock {
    width: max-content;
    height: 100%;
    margin:0 auto;
}